<h3><i class="fab fa-firefox"></i> Firefox</h3>
<p>
  Firefox already has a password manager built into it, but doesn't
  synchronise with your other browsers or devices; therefore
  in order to prevent both from running at the same time,
  we need to switch it off.
</p>

<ol style="list-style: decimal;margin-left: 80px;">
  <li>
    Click the <i class="fas fa-bars"></i> button in the top right corner
    of your browser and choose <b><i class="fas fa-cog"></i> Options</b>.
  </li>
  <li>
      On the options page click <b><i class="fas fa-lock"></i> Privacy 
      &amp; Security</b> on the left and untick the first option <b>Always save
      logins and passwo<u>r</u>ds for websites.
      </b>
  </li>
  <li>
    All done! You can now close the Options page.
  </li>
</ol>

<!-- <h4>Moving existing passwords</h4>
<p>To do..</p> -->
<button class="btn btn-lg btn-success" style="margin-top: 30px" onclick="proceedToStep('install');"
  >Proceed to step 3 (nearly done!)</button>