<section class="cd-section certificate visible">
  <header>
    <div class="cd-title">
      <h2 id="title_certificate">Generating Encryption Certificates&hellip;</h2>
      <span id="summary_certificate">Hang on, this won't take more than a few seconds</span>
      <ul class="buttons hidden" id="certificate_actions">
        <li><button 
          class="btn btn-lg btn-warning" 
          id="action_backupFromCertificate">Download encryption keys</button>
        </li>
        <li><button 
          class="btn btn-lg btn-success" 
          id="action_proceedFromCertificate">Proceed</button>
        </li>
      </div>
    </div>
  </header>

  <div class="cd-content" id="certificate-content">
  </div> <!-- .cd-content -->
</section> <!-- .cd-section -->