<section class="cd-section install visible">
  <header>
    <div class="cd-title">
      <h2>Install our extension</h2>
      <span>Click the <b>Install Browser Extension</b> button below and 
        install our extension from your browser's official extension store.<br/>
        To continue, click the <img style="max-width:24px" src="/img/shield.png"/> which will
        then appear in the top right of your browser.</span>
      <ul class="buttons">
        <li>
          <button
            id="action_install"
            target="_blank"
            class="btn btn-primary btn-lg">Install Browser Extension</button>
        </li>
      </ul>
    </div>
    <div id="hint_install">
        <i class="far fa-arrow-alt-circle-up"></i>
    </div>
  </header>

  <div class="cd-content" id="install-content">
    <div class="main"></div>
  </div> <!-- .cd-content -->
</section> <!-- .cd-section -->